@using LastEpochShared.Services;

<button class="invisible-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </svg>
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">weitere Seiten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"><a class="nav-link" href="Classes" @onclick='() => Redirect("Classes")' data-bs-dismiss="offcanvas">Klassen</a></li>
            <li class="nav-item"><a class="nav-link" href="Filters" @onclick='() => Redirect("Filters")' data-bs-dismiss="offcanvas">Filter</a></li>
        </ul>
    </div>
</div>


@code
{

    private async Task Redirect(string url)
    {
        try
        {
            EventService.ChangePage(url);
        }
        catch (Exception ex)
        {
            Console.WriteLine(nameof(NavMenu), nameof(Redirect));
        }
    }

}
